<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302533791208-1l3aov3ho095q4aad3l246dm7tep57op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302533791208-1l3aov3ho095q4aad3l246dm7tep57op</string>
	<key>API_KEY</key>
	<string>AIzaSyCe4wJ3PXukN2sHsC7ReHD70-igjDexk9I</string>
	<key>GCM_SENDER_ID</key>
	<string>302533791208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.streamline</string>
	<key>PROJECT_ID</key>
	<string>streamline-f2a12</string>
	<key>STORAGE_BUCKET</key>
	<string>streamline-f2a12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302533791208:ios:2ae869775a56e80926e85d</string>
</dict>
</plist>